{{extend ("./parent.html")}} {{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">学生管理</a>
            </li>
            <li class="active">学生列表</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">学生姓名</span>
            <input type="text" class="form-control" id="studentNameId" placeholder="请输入学生姓名进行查询" aria-describedby="basic-addon1" style="width:200px;margin-right:10px;"
                value="">
            <input type="button" class="btn btn-success" onclick="search()" value="查找" style="margin-right:10px;">
            <input type="button" class="btn btn-success" value="新增" onclick="window.location='/studentmanager/add'">
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>刘德华</td>
                    <td>50</td>
                    <td>男</td>
                    <td>13812345678</td>
                    <td>
                        <a href="/studentmanager/edit/5b7c2717f396f8182b32c3f8" class="btn btn-success">编辑</a> |

                        <input type="button" onclick="deleteStudent('5b7c2717f396f8182b32c3f8')" class="btn btn-danger" value="删除">
                    </td>
                </tr>

                <tr>
                    <td>黎明</td>
                    <td>48</td>
                    <td>男</td>
                    <td>13618223232</td>
                    <td>
                        <a href="/studentmanager/edit/5b7c273af396f8182b32c3f9" class="btn btn-success">编辑</a> |

                        <input type="button" onclick="deleteStudent('5b7c273af396f8182b32c3f9')" class="btn btn-danger" value="删除">
                    </td>
                </tr>

                <tr>
                    <td>山鸡</td>
                    <td>35</td>
                    <td>男</td>
                    <td>13898765432</td>
                    <td>
                        <a href="/studentmanager/edit/5b7c275ff396f8182b32c3fa" class="btn btn-success">编辑</a> |

                        <input type="button" onclick="deleteStudent('5b7c275ff396f8182b32c3fa')" class="btn btn-danger" value="删除">
                    </td>
                </tr>

                <tr>
                    <td>段子黄</td>
                    <td>29</td>
                    <td>男</td>
                    <td>18612301798</td>
                    <td>
                        <a href="/studentmanager/edit/5b7c2fb536c9ad1a6a9ea788" class="btn btn-success">编辑</a> |

                        <input type="button" onclick="deleteStudent('5b7c2fb536c9ad1a6a9ea788')" class="btn btn-danger" value="删除">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{{/block}}